fastapi
uvicorn[standard]
pydantic
pydantic[email]

motor
pymongo

python-dotenv

google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client

bytez
requests

email-validator

PyJWT
passlib[bcrypt]